body{
  position: relative;
}

main{
  width: 80vw;
  padding: 50px 10vw;
}

main>div{
  padding: 50px auto;
  border-radius: 10px;
  box-shadow: 0 0 15px #1115;
  background-color: #0004;
  border: 1px solid #fff4;
}
main>div>div{
  margin: 20px;
}
main>div>div>article *{
  text-align: left;
}