div{
  color: white;
}
main>div{
  box-shadow: 0 0 15px #1115;
}
h2{
  font-size: 25px;
  font-weight: 500;
  letter-spacing: .3rem;
}
div#logo-anm{
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
div#about, div#articles, div#other{
  margin: 10vh 10vw;
  padding: 10vh 10vw;
  background-color: #0004;
  border: 1px solid #fff4;
  border-radius: 10px;
}
div#about p{
  letter-spacing: .2rem;
  color: #ccca;
}

div#articles>a>div{
  width: calc(100% - 50px);
  margin: 25px;
  text-align: left;
  font-size: 20px;
}
div#articles *{
  font-weight: 300;
}
div#articles>a>div>*{
  vertical-align: middle;
  font-size: 20px;
}
div#articles>a>div>div{
  display: inline-block;
  width: 30%;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  margin-right: 50px;
}

#other>h2{
  margin-bottom: 10px;
}