@keyframes topDrop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInRight {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

#projectsColumn {
  color: aliceblue;
}

#projectsColumn > .p > * {
  width: 100%;
  padding: 20px;
  height: 150px;
  border-radius: var(--main-radius);
  text-align: center;
  line-height: 115px;
  font-size: 15px;
}

.p {
  display: flex;
  margin: 5px 0 10px;
}

.p > a {
  font-family: 'Barlow', sans-serif;
}

#thinkosBtn,#thinkingsnsBtn {
  width: 90%;
  margin: 10px;
  background: #222;
}
#thinkosBtn > h3 {
  color: #e6e6e6;
}
#thinkfontBtn {
  width: 90%;
  margin: 10px;
  background: #f8f8f8;
}
#thinkfontBtn > h3 {
  color: #050505;
}

#blogsColumn {
  color: #000;
}

.blogsColumn-item {
  display: flex;
  background-color: #f8f8f8;
  height: 200px;
  border-radius: var(--main-radius);
  padding: 20px;
  box-sizing: border-box;
  margin: 5px 0 20px;
  color: #050505;
}

.blogsColumn-item > img {
  aspect-ratio: 16/9;
  background: #e6e6e6;
  height: 100%;
  border-radius: 10px;
  filter: none;
}

.blogItem-details{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
}

.blogItem-details > h3 {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 300;
}

.blogItem-details > .blog-body{
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

#thinking-logo {
  width: 40%;
  z-index: 0;
}

#linksColumn .linksColumn-row{
  display: flex;
  width: 100%;
  margin: 40px 0;
}

.linksColumn-row > a {
  width: 100%;
  margin: 0 20px;
}

.linksColumn-item {
  display: flex;
  background-color: #f8f8f8;
  height: 100px;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  color: #050505;
}

.linksColumn-item > a {
  color: #646464;
}

.linksColumn-item-text {
  width: 100%;
  margin-left: 20px;
  position: relative;
}

.linksColumn-item-text h3 {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
}

.linksColumn-item-text p {
  position: absolute;
  top: 50%;
  font-size: 20px;
  margin: 0;
  color: #6f85aa;
}

.linksColumn-item-img {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.linksColumn-item,
.blogsColumn-item,
#projectsColumn > .p > * {
  transition: all 0.6s ease;
  box-shadow: var(--main-shadow);
}

.linksColumn-item:hover,
.blogsColumn-item:hover,
#projectsColumn > .p > *:hover,
.moreBtn:hover {
  box-shadow: var(--hover-shadow);
}

@media screen and (max-width: 500px) {
  main {
    text-align: left;
    padding-left: 0em;
  }
  #slider {
    padding: 3em;
    padding-top: 3em;
    height: 20%;
  }
  #thinking-logo {
    width: 90%;
    display: none;
    animation-name: topDrop;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .center_div {
    width: 100%;
  }
  #linksColumn .linksColumn-row {
    width: auto;
    display: block;
    margin: 5px;
    padding: 0;
  }
  .linksColumn-row > a {
    display: block;
    padding: 0;
    margin: 20px 2px;
  }
  #projectsColumn > div {
    display: grid;
    width: auto;
  }
  #projectsColumn > .p > * {
    width: auto;
  }
  .blogsColumn-item {
    display: block;
    height: auto;
    margin: 5px;
  }
  .blogsColumn-item > img {
    height: auto;
    width: 100%;
  }
  .blogItem-details {
    margin: 0;
  }
}
