@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400&family=Noto+Sans+JP:wght@300&display=swap');
:root{
  --content-width: 60vw;
  --content-side-margin: 20vw;
}

body {
  text-align: center;
  margin: 0em;
  font-family: 'Barlow', 'Noto Sans JP', sans-serif;
  background-color: #f3f3f3;
}

#header-icon {
  background: url('../image/logo/sikaku-transparent.png');
  background-position: center;
  background-size: contain;
  display: inline-block;
  height: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

header {
  display: inline-block;
  z-index: 1;
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fffa;
  padding: 5px var(--content-side-margin);
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px #4e4e4e62;
  vertical-align: middle;
  height: 60px;
  transition: height 0.2s ease-in-out;
}
header > div {
  position: relative;
  height: 100%;
  width: var(--content-width);
}
#header-buttons {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  text-align: left;
}
#header-buttons > * {
  font-size: 18px;
  color: #000;
  margin: 0 7px;
}

#slider {
  text-align: center;
  height: 30%;
  margin: 0em;
  padding: 7em;
  padding-top: 10em;
  background: url('../image/logo-background.jpg');
  background-size: cover;
  color: rgb(235, 235, 235);
}

a {
  text-decoration: none;
  color: #c9c9c9;
}

main {
  text-align: left;
  width: var(--content-width);
  margin: 5px var(--content-side-margin);
}

.moreBtn {
  display: inline-block;
  border: solid 1px #5e5e5e;
  border-radius: 5px;
  color: #5e5e5e;
  padding: 0.2em;
}

.center_div {
  text-align: center;
}

footer {
  text-align: center;
  padding: 2em;
  background: #4e4e4e;
  color: #c9c9c9;
}

body {
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

h2 {
  letter-spacing: .1rem;
  margin-bottom: 5px;
}
p{
  margin: 2px 0;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
