.card-layout {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;

  &::after {
    content: "";
    width: 21%;
    height: 0;
  }
}
.membersColumn:not(:last-child) {
  border-bottom: 3px solid #b8b8b8;
}

@media (max-width: 767px) {
  .card-layout {
    justify-content: center;

    &::after {
      content: "";
      width: 0%;
      height: 0;
    }
  }

  .card {
    width: 20px;
    height: 140px;
  }
}

.card {
  position: relative;
  width: 200px;
  height: 140px;
  background: #fff;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 60px 5px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.imgwrap {
  position: absolute;
  width: 120px;
  height: 120px;
  background: #fff;
  left: 50%;
  top: -40px;
  transform: translate(-50%);
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  transition: 0.2s;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-detail-layout {
  background: transparent;
  transform: translateY(40px);
  width: 100%;
  height: 44px;
  overflow: hidden;
}

.card-detail {
  position: relative;
  transform: translateY(-22px);
  font-size: 20px;
  text-align: center;
  transition: 0.7s linear(0, 1.32, 0.87, 1.05, 0.98, 1.01, 1);

  & span {
    display: block;

    &:first-child {
      font-size: 12px;
      margin: 2px 0;
      color: #5c5c5c;
    }

    &:nth-child(3) {
      font-size: 12px;
      margin: 2px 0;
      color: #5e5e5e;
    }
  }
}

.card:hover .card-detail {
  transform: translateY(1px);
}

.card:hover {
  box-shadow: rgba(65, 65, 65, 0.298) 0px 7px 29px 0px;

  & .imgwrap {
    width: 130px;
    height: 130px;
  }
}

.mem-header {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown {
  position: absolute;
  right: 0;
  border-radius: 10px;
  background: transparent;
  width: 150px;
  height: 30px;
  border: none;
  outline: none;

  & :focus {
    outline: none;
    border: none;
  }
}

.flow-background {
  opacity: 0;
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #00000000;
  transition: 0.5s ease;
}

.flow-background.active {
  display: block;
  opacity: 1;
  background: #00000069;
}

.flow-card {
  background: #fff;
  width: 300px;
  height: 500px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.flow-background.active .flow-card {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.member-card-bg {
  background: transparent;
  width: 100%;
  height: 120px;

  & img {
    border-radius: 18px 18px 0 0;
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}

.member-card-icon {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: #ffffff solid 2px;
  background-color: #fff;

  & img {
    border-radius: 20px;
    width: inherit;
    height: inherit;
  }
}

@media screen and (min-width:430px) {
  .flow-card {
    width: 400px;
  }

  .member-card-icon {
    width: 130px;
    height: 130px;

    & img {
      border-radius: 20px;
      width: inherit;
      height: inherit;
    }
  }
}

.member-card-detail {
  margin-top: 70px;
}

.member-card-name {
  font-size: 25px;
  width: 100%;
  outline: none;
  border: none;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.member-card-role {
  font-size: 13px;
  color: #a3a3a3;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  outline: none;
  border: none;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.member-card-bio {
  width: 100%;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
  resize: none;
  width: 100%;
  height: 160px;
  border: none;

  & span {
    width: calc(100% - 50px);
    display: block;
    margin: 0 auto;
  }
}

.member-card-link {
  background: transparent;
  margin: 0 20px;
  justify-content: center;
  display: flex;
}

.mc-link {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #00000000;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
  color: #000;
  cursor: pointer;
  transition: .3s;

  &.x {
    color: #08a0e9;

    &:hover {
      color: #000;
      background-color: #08a0e9;
    }
  }

  &.github {
    color: #0d1117;

    &:hover {
      color: #fff;
      background-color: #0d1117;
    }
  }

  &.gitlab {
    fill: none;

    &:hover {
      background-color: #554488;

      & img {
        filter: brightness(0%) contrast(300%) invert(100%);
      }
    }
  }

  &.yt {
    color: #ff0000;

    &:hover {
      color: #ffffff;
      background-color: #ff0000;
    }
  }

  &.bs {
    fill: none;

    &:hover {
      background-color: #0661c0;

      & img {
        filter: brightness(0%) contrast(300%) invert(100%);
      }
    }
  }

  &.mk {
    fill: none;

    &:hover {
      background-color: #55701e;

      & img {
        filter: brightness(0%) contrast(300%) invert(100%);
      }
    }
  }

  &.my-website {
    position: relative;

    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {}
  }

}

.my-website-wrap {
  display: flex;

  & input:last-child {
    width: 100px !important;
  }
}

.img-link-icon {
  width: 24px;
  height: 24px;
}

/* --------------デバッグ-------------- */
/* .flow-background {
  display: block !important;
  opacity: 1;
  background: #00000069;
  pointer-events: auto;
}

.flow-card {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
} */

/* --------------デバッグ-------------- */

.role_style {
  padding: 0 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fadeIn {
  margin-bottom: 100px;
}

.overflow-hidden {
  overflow: hidden;
}