#membersColumn {
  color: #000;
}

.membersColumn-item {
  display: flex;
  background: #fff;
  height: 200px;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  margin: 5px 0 20px;
  transition: all 0.6s ease;
  box-shadow: 0 0 5px #0008;
}

.membersColumn-item > img {
  aspect-ratio: 1/1;
  background: #000;
  height: 100%;
  border-radius: 2px;
  filter: none;
}

.membersItem-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
}

.membersItem-details > h3 {
  margin: 5px 0;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
}

.role {
  font-size: 12px;
  margin: 0;
  margin-left: 5px;
  position: relative;
  top: -2px;
  display: inline-block;
  border-radius: 10px;
}
